.arpw-ul {
	list-style: none;
}

.arpw-li {
	margin-bottom: 10px;
}

.arpw-time {
	display: block;
	color: #aaa;
}

.arpw-clearfix:before,
.arpw-clearfix:after {
	content: "";
	display: table;
}

.arpw-clearfix:after {
	clear:both;
}

.arpw-clearfix {
	zoom:1;
}