.widgets-php .arpw-columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
}

.widgets-php .arpw-columns-3 select.widefat {
	width: 98.5%;
}

.widgets-php .arpw-column-last {
	float: right;
	margin-right: 0;
}

.widgets-php .arpw-columns-3 label {
	font-size: 11px;
}

.widgets-php .arpw-columns-3 p small {
	color: #777;
	font-style: italic;
}

.arpw-input-half {
	width: 47%;
}

.arpw-block {
	display: block;
}

label.input-checkbox {
	width: 100px;
	display: inline-block;
}

.arpw-multiple-check-form {
	margin: 1em 0;
}

.arpw-multiple-check-form ul {
	border: 1px solid #eee;
	padding: 10px;
	max-height: 110px;
	overflow: auto;
	margin-top: 0;
}

.arpw-multiple-check-form ul li:last-child {
	margin-bottom: 0;
}